# Root
.vscode

#? Project 8
/projects/8. Try PlatfromIO/.pio
/projects/8. Try PlatfromIO/vscode/.browse.c_cpp.db*
/projects/8. Try PlatfromIO/vscode/c_cpp_properties.json
/projects/8. Try PlatfromIO/vscode/launch.json
/projects/8. Try PlatfromIO/vscode/ipch
/projects/8. Try PlatfromIO/src/myenv

#? Project 9.1

#! GitIgnore, gausa ditaruh di root folder, gitignor bisa ditaruh di per folder projek
arduino-learning-project.code-workspace
